<!DOCTYPE html>

{% comment %}
DO-%%-%%%-2011: Created
FL-29-Nov-2013: Changed: ILPSlogging off
{% endcomment %}

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}BiLand{% endblock title %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}js/Dojo/dojo/resources/dojo.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}js/Dojo/dijit/themes/claro/claro.css">
	<!-- 
	<link rel="stylesheet" href="{{ STATIC_URL }}js/Dojo/dojox/grid/enhanced/resources/claro/EnhancedGrid.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}js/Dojo/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}js/Dojo/dojox/grid/resources/{{ theme }}Grid.css";
	/*Grid need a explicit width/height by default*/
	#grid {
		width: 43em;
		height: 20em;
	}
    -->
	<link rel="stylesheet" href="{{ STATIC_URL }}js/Dojo/dojox/grid/resources/claroGrid.css">


	<!-- dojoConfig BEFORE including the dojo core -->
	<script type="text/javascript">
		var dojoConfig = {
			parseOnLoad: true,
			isDebug: true,
			dojoBlankHtmlUrl: './blank.html',
			locale: 'nl',
			extraLocale: ['en-us']
		};
	</script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/Dojo/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>

	<script src="{{ STATIC_URL }}js/jQuery/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/jQuery/jquery.wordcloud.js"></script>

	<!-- ILPSLogging -->
	<!--
	<script>
		(function() {
			var script = document.createElement('script');
			script.async = true;
			script.src = 'http://ilpslogging.staging.dispectu.com/jssdk/ilpslogging-0.2.min.js';
			var entry = document.getElementsByTagName('script')[0];
			entry.parentNode.insertBefore(script, entry);
		})();

		var ILPSLogging_ready = ILPSLogging_ready || [];
		ILPSLogging_ready.push(function(){
			var config = {
				api_url: 'http://ilpslogging.staging.dispectu.com',
				project_key: 'ZJ3fhPoNHnym76UuYAKVJ5XtrtZ5iNfzTUGY19w81lo',
				log_mouse_movements: false,
				log_mouse_clicks: true,
				post_events_queue_on_browser_close: true,
				log_browser_close: true,
				debug: false,
			};
			ILPSLogging.init(config, function(){
				console.log('ILPSLogging: ready for action');
			});
		});
	</script>
	-->

	<script src="{{ STATIC_URL }}js/uva/timestamp.js"></script>
	<script src="{{ STATIC_URL }}js/uva/dialogs.js"></script>
	<script src="{{ STATIC_URL }}js/uva/config.js"></script>
	<script src="{{ STATIC_URL }}js/uva/utils.js"></script>
	<script src="{{ STATIC_URL }}js/uva/toolbar.js"></script>
	<script src="{{ STATIC_URL }}js/uva/login.js"></script>
	<script src="{{ STATIC_URL }}js/uva/accordion.js"></script>
	<script src="{{ STATIC_URL }}js/uva/query.js"></script>
	<script src="{{ STATIC_URL }}js/uva/lexicon.js"></script>
	<script src="{{ STATIC_URL }}js/uva/ocr_sentiment.js"></script>
	<script src="{{ STATIC_URL }}js/uva/scan_images.js"></script>
	<script src="{{ STATIC_URL }}js/uva/metagraph.js"></script>
	<script src="{{ STATIC_URL }}js/uva/cloud_export.js"></script>
	<script src="{{ STATIC_URL }}js/uva/cloud_view.js"></script>
	<script src="{{ STATIC_URL }}js/uva/celery.js"></script>
	<script src="{{ STATIC_URL }}js/uva/timeline.js"></script>

	<!-- Timeline & SVG cloud visualization with D3 -->
	<script src="{{ STATIC_URL }}js/D3/d3.v3.min.js"></script>
	<script src="{{ STATIC_URL }}js/D3/d3.layout.cloud.js"></script>


	<style type="text/css">
		html, body { width: 100%; height: 100%; margin: 0; overflow:hidden; }
		#borderContainer { width: 100%; height: 100%; }

		#top {
			padding: 2px;
		}

		#top h1 {
			float: left;
			margin: 11px;
			font-size: 24pt;
			width: 195px;
		}
		#top ul {
			margin: 14px 0;
		}
		#top ul li {
			float: left;
			width: 80px;
			list-style: none;
			background-color: #99CCFF;
			border-radius: 5px;
			text-align: center;
			margin: 5px;
			font-size: 11pt;
		}
		#top ul li a {
			color: white;
			text-decoration: none;
		}
		#top ul li a:hover {
			text-decoration: underline;
		}
		#top #logos {
			float: right;
		}
	</style>
	{% block head %}{% endblock head %}
</head>
<body class="claro">

{% block body %}
<div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="liveSplitters: true" style="width: 100%; height: 100%;">

	{% block top %}

	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'top'" id="top" style="height: 32px;">
		<span id="span-toolbar"></span>
		<!--
		{% load flatpages %}
		<div id="logos">
			<h1>BiLand</h1>
			<a href="http://www.uva.nl" target="_blank"><img src="{{ STATIC_URL }}logos/WAHSPlogo.png" height="48" align="left" /></a>&nbsp;
			&nbsp;&nbsp;
			<a href="http://www.uva.nl" target="_blank"><img src="{{ STATIC_URL }}logos/UvA.gif" height="50" /></a>&nbsp;
			<a href="http://www.uu.nl" target="_blank"><img src="{{ STATIC_URL }}logos/UniversiteitUtrecht.gif" height="50"  /></a>&nbsp;
			<a href="http://www.kb.nl" target="_blank"><img src="{{ STATIC_URL }}logos/KB.gif" height="40"  /></a>&nbsp;
			<a href="http://huygensinstituut.knaw.nl" target="_blank"><img src="{{ STATIC_URL }}logos/HuygensInstituut.gif" height="30" /></a>
		</div>

		{% get_flatpages as flatpages %}
		<ul>
		{% for page in flatpages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
		</ul>
		-->
	</div>
	{% endblock top %}

	{% block middle %}
	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="splitter:true, region:'center'">
		{% block content %}Content{% endblock content %}
	</div>
	{% endblock middle %}

	{% block bottom %}
	{% comment %}
	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'bottom'">
		WAHSP prototype ontwikkeld door Daan Odijk, mei 2011.
	</div>
	{% endcomment %}
	{% endblock bottom %}
</div>

<script type="text/javascript">
	dojo.require( "dijit.layout.ContentPane" );
	dojo.require( "dijit.layout.BorderContainer" );
	dojo.require( "dijit.layout.AccordionContainer" );
	dojo.require( "dijit.layout.AccordionPane" );
	dojo.require( "dijit.layout.TabContainer" );
</script>

{% block outside %}
{% endblock outside %}

{% endblock body %}

</body>
</html>